In [1]:
import pandas as pd
weather=pd.read_csv('weather.csv')
weather.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog

In [2]:
weather.tail()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [3]:
weather.shape

(8784, 8)

In [4]:
weather.describe()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
count,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000,8784.000000
mean,8.798144,2.555294,67.431694,14.945469,27.664447,101.051623
std,11.687883,10.883072,16.918881,8.688696,12.622688,0.844005
min,-23.300000,-28.500000,18.000000,0.000000,0.200000,97.520000
25%,0.100000,-5.900000,56.000000,9.000000,24.100000,100.560000
50%,9.300000,3.300000,68.000000,13.000000,25.000000,101.070000
75%,18.800000,11.800000,81.000000,20.000000,25.000000,101.590000
max,33.000000,24.400000,100.000000,83.000000,48.300000,103.650000

In [8]:
weather.iloc[5:10,2:]

,Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
5,-3.3,87,9,6.4,101.27,Fog
6,-3.1,89,7,6.4,101.29,Fog
7,-3.6,85,7,8.0,101.26,Fog
8,-3.6,85,9,8.0,101.23,Fog
9,-3.1,88,15,4.0,101.20,Fog

In [9]:
weather.loc[0:3,('Rel Hum (%)')]

0    86
1    87
2    89
3    88
Name: Rel Hum (%), dtype: int64

In [10]:
li=weather.drop('Rel Hum (%)',axis=1)

In [11]:
li.head(10)

,Date/Time,Temp (C),Dew Point Temp (C),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,15,4.0,101.20,Fog

In [12]:
weather.mean()

Temp (C)                8.798144
Dew Point Temp (C)      2.555294
Rel Hum (%)            67.431694
Wind Spd (km/h)        14.945469
Visibility (km)        27.664447
Stn Press (kPa)       101.051623
dtype: float64

In [13]:
weather.max()

Date/Time                2012-12-31 23:00:00
Temp (C)                                33.0
Dew Point Temp (C)                      24.4
Rel Hum (%)                              100
Wind Spd (km/h)                           83
Visibility (km)                         48.3
Stn Press (kPa)                       103.65
Weather               Thunderstorms,Rain,Fog
dtype: object

In [14]:
weather.std()

Temp (C)              11.687883
Dew Point Temp (C)    10.883072
Rel Hum (%)           16.918881
Wind Spd (km/h)        8.688696
Visibility (km)       12.622688
Stn Press (kPa)        0.844005
dtype: float64

In [15]:
weather.median()

Temp (C)                9.30
Dew Point Temp (C)      3.30
Rel Hum (%)            68.00
Wind Spd (km/h)        13.00
Visibility (km)        25.00
Stn Press (kPa)       101.07
dtype: float64

In [17]:
#do operation on particular column
def double_make(s):
    return s*2
weather[['Dew Point Temp (C)']].apply(double_make)

      Dew Point Temp (C)
0                   -7.8
1                   -7.4
2                   -6.8
3                   -6.4
4                   -6.6
...                  ...
8779                -5.4
8780                -4.8
8781                -3.0
8782                -3.6
8783                -4.2

[8784 rows x 1 columns]

In [18]:
weather.sort_values(by='Dew Point Temp (C)')

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
342,2012-01-15 06:00:00,-23.2,-28.5,62,7,25.0,102.28,Mostly Cloudy
344,2012-01-15 08:00:00,-23.3,-28.5,62,7,24.1,102.45,Clear
343,2012-01-15 07:00:00,-22.8,-28.0,62,9,25.0,102.37,Mainly Clear
345,2012-01-15 09:00:00,-22.2,-27.8,60,9,48.3,102.57,Mainly Clear
336,2012-01-15 00:00:00,-21.2,-26.8,61,11,25.0,101.81,Cloudy
...,...,...,...,...,...,...,...,...
5222,2012-08-05 14:00:00,24.9,22.9,89,26,16.1,100.42,Rain Showers
5221,2012-08-05 13:00:00,25.2,23.0,88,24,12.9,100.40,Rain Showers
4766,2012-07-17 14:00:00,25.5,23.1,87,17,6.4,99.65,"Thunderstorms,Rain Showers"
5219,2012-08-05 11:00:00,27.9,23.2,76,24,24.1,100.63,Mostly Cloudy
5223,2012-08-05 15:00:00,29.0,24.4,76,13,24.1,100.31,Mostly Cloudy

In [19]:
weather['Dew Point Temp (C)'].value_counts()

-0.9     48
 12.9    48
 9.9     47
 10.9    47
 12.3    45
         ..
-24.0     1
 22.9     1
 23.1     1
-24.5     1
 22.6     1
Name: Dew Point Temp (C), Length: 489, dtype: int64